{% extends 'layout.html' %}
{% block content %}
      <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2 style="color: white"> Welcome to my contact page</h2>
                     <p>You Can Click On The Button Below To Send Me An Email.</p>
                     <p>OR</p>
                     <h4><p>Contact Me On <a href="tel: +2348124941387 ">+ 234 812 494 1387</a></p></h4>
                     <button><a href="mailto:eorji452@gmail.com">Send An Email</a></button>
                     <div class="primary-button">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}